El primer *loop* es el *while*, que consiste en *hacer mientras*. Su estructura es 

*while expression*

*statement*

In [5]:
x=0 #iniciar en cero
while (x<15): 
    print(x) #imprime la variable
    x = x+1 #pero incrementando una unidad

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [166]:
x= 1
while x in range (1,15):
    print(x)
    x+=1 #x=x+1 indica el incremento

1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [168]:
j=0
while j<6:
    j+=3
    if j==3: #recorre el ciclo sin 3
        continue
    print(j)

6

In [173]:
j=10
while j in range(10,100):
    j+=10
    if j==100:
        continue
    print(j)

20
30
40
50
60
70
80
90

Notar que la numeración comienza en *0*.

In [183]:
for h in range(1,7):
    h += 1
    print(h)
else:
        print("No hay mayores que 8")

2
3
4
5
6
7
No hay mayores que 8

In [189]:
a=330
b=320 
c=102
if a<b or c<b:
    print("Alguna condición es cierta")

Alguna condición es cierta

Ejemplo. Generar tasas de interés  aleatorias.

In [27]:
pip install numpy-financial

Requirement already satisfied: numpy-financial in c:\users\kevin\dropbox\python 3.9\lib\site-packages (1.0.0)
Requirement already satisfied: numpy>=1.15 in c:\users\kevin\dropbox\python 3.9\lib\site-packages (from numpy-financial) (1.21.5)
Note: you may need to restart the kernel to use updated packages.

In [32]:
import random

In [151]:
tasas = random.random()
for i in range(1,11):
    print(random.random())

0.6344085183425263
0.7228619941077667
0.14854265313729198
0.7719868916526452
0.7197362949078558
0.16712627513102096
0.2789571803752168
0.2973644290549662
0.8188091162577265
0.2107444239924654

In [147]:
random_float_list = []
for i in range(0, 22):
    x = round(random.uniform(0, 1), 2)
    random_float_list.append(x)

print(random_float_list)

[0.37, 0.69, 0.25, 0.86, 0.09, 0.18, 0.58, 0.02, 0.11, 0.35, 0.59, 0.12, 0.86, 0.91, 0.23, 0.32, 0.71, 1.0, 0.2, 0.73, 0.47, 0.83]

In [117]:
import pandas as pd
import numpy as np

Generar 10 escenarios para tasas a 15 plazos (años o meses o dias)

In [133]:
multipletasa = pd.DataFrame(np.random.uniform(0,1,size=(15, 10)), columns=list('ABCDEFGHIJ')) #nombrar columnas de acuerdo a la cantidad

In [139]:
multipletasa

,A,B,C,D,E,F,G,H,I,J
0,0.932360,0.348534,0.930115,0.134806,0.725452,0.455146,0.094459,0.604161,0.305173,0.442658
1,0.380420,0.110053,0.491141,0.964008,0.495264,0.966624,0.965286,0.330949,0.121811,0.633250
2,0.185544,0.719086,0.491582,0.929654,0.219491,0.693052,0.499869,0.010161,0.932257,0.098218
3,0.771954,0.433974,0.500636,0.255522,0.227186,0.003974,0.286563,0.961779,0.517357,0.120966
4,0.262342,0.101624,0.671453,0.881807,0.766703,0.090953,0.509746,0.289112,0.002070,0.998084
5,0.812248,0.027784,0.271688,0.137542,0.730530,0.900823,0.346950,0.730313,0.084313,0.027105
6,0.844221,0.885305,0.006049,0.078678,0.497461,0.368386,0.609908,0.526452,0.664641,0.278828
7,0.336792,0.340761,0.746628,0.250974,0.720409,0.394557,0.916324,0.690044,0.122247,0.937776
8,0.340018,0.973361,0.572908,0.866868,0.346092,0.556882,0.099305,0.457340,0.189155,0.373097
9,0.419798,0.410829,0.029056,0.585531,0.823279,0.706849,0.926207,0.005979,0.845992,0.676828
10,0.357479,0.850157,0.595493,0.136606,0.809475,0.078685,0.876768,0.207172,0.028654,0.595814
11,0.432703,0.342727,0.144023,0.091576,0.833645,0.207373,0.669506,0.471792,0.770392,0.448573
12,0.847531,0.670382,0.219815,0.382354,0.147985,0.080144,0.567350,0.473175,0.429636,0.535694
13,0.193260,0.138180,0.830964,0.959841,0.873012,0.706818,0.861826,0.064412,0.249158,0.231206
14,0.515937,0.470155,0.872768,0.603522,0.320388,0.656778,0.277458,0.393015,0.231068,0.477037

Estadística descriptiva y su matriz de varianzas:

In [137]:
multipletasa.describe()

,A,B,C,D,E,F,G,H,I,J
count,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,0.508841,0.454861,0.491621,0.483953,0.569091,0.457803,0.567168,0.414390,0.366262,0.458342
std,0.259670,0.303845,0.300044,0.356835,0.258543,0.314593,0.300670,0.274035,0.309630,0.286062
min,0.185544,0.027784,0.006049,0.078678,0.147985,0.003974,0.094459,0.005979,0.002070,0.027105
25%,0.338405,0.239470,0.245752,0.137074,0.333240,0.149163,0.316756,0.248142,0.122029,0.255017
50%,0.419798,0.410829,0.500636,0.382354,0.720409,0.455146,0.567350,0.457340,0.249158,0.448573
75%,0.792101,0.694734,0.709041,0.874337,0.788089,0.699935,0.869297,0.565307,0.590999,0.614532
max,0.932360,0.973361,0.930115,0.964008,0.873012,0.966624,0.965286,0.961779,0.932257,0.998084

In [142]:
multipletasa.corr()

,A,B,C,D,E,F,G,H,I,J
A,1.000000,0.061517,-0.263906,-0.684312,-0.247721,-0.195625,-0.461480,0.671543,0.065339,-0.322267
B,0.061517,1.000000,-0.213126,-0.142521,-0.468737,-0.323564,-0.196430,-0.093039,0.303289,-0.160006
C,-0.263906,-0.213126,1.000000,0.299436,0.054358,0.046832,-0.254642,0.017475,-0.581455,0.174802
D,-0.684312,-0.142521,0.299436,1.000000,-0.186179,0.432112,0.106675,-0.607091,-0.082941,0.114129
E,-0.247721,-0.468737,0.054358,-0.186179,1.000000,0.087694,0.438899,-0.225723,-0.230454,0.335208
F,-0.195625,-0.323564,0.046832,0.432112,0.087694,1.000000,0.097158,-0.310612,-0.009880,-0.263234
G,-0.461480,-0.196430,-0.254642,0.106675,0.438899,0.097158,1.000000,-0.461714,0.044682,0.421221
H,0.671543,-0.093039,0.017475,-0.607091,-0.225723,-0.310612,-0.461714,1.000000,-0.233467,-0.170199
I,0.065339,0.303289,-0.581455,-0.082941,-0.230454,-0.009880,0.044682,-0.233467,1.000000,-0.357744
J,-0.322267,-0.160006,0.174802,0.114129,0.335208,-0.263234,0.421221,-0.170199,-0.357744,1.000000

In [153]:
multipletasa.kurtosis() #es decir, todas son platicúrticas (curva aplanada)

A   -1.391715
B   -1.041825
C   -1.050166
D   -1.796923
E   -1.539203
F   -1.261588
G   -1.255948
H   -0.287759
I   -0.944418
J   -0.332552
dtype: float64

In [161]:
help("modules") #ver los modulos que tienes instalados

Please wait a moment while I gather a list of all available modules...

WARNING: AstropyDeprecationWarning: The private astropy._erfa module has been made into its own package, pyerfa, which is a dependency of astropy and can be imported directly using "import erfa" [astropy._erfa]
C:\Users\kevin\Dropbox\Python 3.9\lib\site-packages\nltk\twitter\__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn(
C:\Users\kevin\Dropbox\Python 3.9\lib\site-packages\_distutils_hack\__init__.py:30: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

Update LANGUAGE_CODES (inside config/base.py) if a new translation has been added to Spyder

No QCoreApplication instance found. Application patches not applied. You have to call load_stylesheet function after instantiation of QApplication to take effect.
C:\Users\kevin\Dropbox\Python 3.9\lib\pkgutil.py:108: VisibleDeprecationWarning:

zmq.eventloop.minitornado is deprecated in pyzmq 14.0 and will be removed.
    Install tornado itself to use zmq with the tornado IOLoop.

Cython              colorsys            mmapfile            sndhdr
IPython             commctrl            mmsystem            sniffio
OpenSSL             compileall          mock                snowballstemmer
PIL                 comtypes            modulefinder        socket
PyQt5               concurrent          mpmath              socketserver
TBB                 conda               msgpack             socks
__future__          conda_build         msilib              sockshandler
_abc                conda_content_trust msvcrt              sortedcollections
_aix_support        conda_env           multidict           sortedcontainers
_argon2_cffi_bindings conda_pack          multipledispatch    soupsieve
_ast                conda_package_handling multiprocessing     sphinx
_asyncio            conda_token         munkres             spyder
_bisect             conda_verify        mypy_extensions     spyder_kernels
_black_version      configparser        nacl                sqlalchemy
_blake2             constantly          navigator_updater   sqlite3
_bootlocale         contextlib          nbclassic           sre_compile
_bootsubprocess     contextvars         nbclient            sre_constants
_bz2                cookiecutter        nbconvert           sre_parse
_cffi_backend       copy                nbformat            ssl
_codecs             copyreg             nest_asyncio        sspi
_codecs_cn          crypt               netbios             sspicon
_codecs_hk          cryptography        netrc               stack_data
_codecs_iso2022     cssselect           networkx            stat
_codecs_jp          csv                 nltk                statistics
_codecs_kr          ctypes              nntplib             statsmodels
_codecs_tw          curl                nose                string
_collections        curses              notebook            stringprep
_collections_abc    cwp                 nt                  struct
_compat_pickle      cycler              ntpath              subprocess
_compression        cython              ntsecuritycon       sunau
_contextvars        cytoolz             nturl2path          symbol
_csv                daal4py             numba               sympy
_ctypes             dask                numbergen           symtable
_ctypes_test        dataclasses         numbers             sys
_datetime           datashader          numexpr             sysconfig
_decimal            datashape           numpy               tables
_distutils_hack     datetime            numpy_financial     tabnanny
_elementtree        dateutil            numpydoc            tabulate
_functools          dbi                 odbc                tarfile
_hashlib            dbm                 olefile             tbb
_heapq              dde                 onedal              tblib
_imp                debugpy             opcode              telnetlib
_io                 decimal             openpyxl            tempfile
_json               decorator           operator            tenacity
_locale             defusedxml          optparse            terminado
_lsprof             diff_match_patch    os                  test
_lzma               difflib             packaging           test_pycosat
_markupbase         dis                 pandas              testpath
_md5                distributed         pandocfilters       text_unidecode
_msi                distutils           panel               textdistance
_multibytecodec     doctest             param               textwrap
_multiprocessing    docutils            paramiko            this
_nsis               email               parsel              threading
_opcode             encodings           parser              threadpoolctl
_operator           ensurepip           parso               three_merge
_osx_support        entrypoints         partd               tifffile
_overlapped         enum                past                time
_peg_parser         erfa                pathlib             timeit
_pickle             errno               pathspec            timer
_plotly_future_     et_xmlfile          patsy               tinycss
_plotly_utils       executing           pdb                 tkinter
_py_abc             fastjsonschema      pep8                tldextract
_pydecimal          faulthandler        perfmon             tlz
_pyio               filecmp             pexpect             token
_pyrsistent_version fileinput           pickle              tokenize
_pytest             filelock            pickleshare         toml
_queue              flake8              pickletools         tomli
_random             flask               pip                 toolz
_sha1               fnmatch             pipes               tornado
_sha256             fontTools           pkg_resources       tqdm
_sha3               formatter           pkginfo             trace
_sha512             fractions           pkgutil             traceback
_signal             frozenlist          platform            tracemalloc
_sitebuiltins       fsspec              plistlib            traitlets
_socket             ftplib              plotly              tty
_sqlite3            functools           pluggy              turtle
_sre                future              poplib              turtledemo
_ssl                gc                  posixpath           twisted
_stat               genericpath         poyo                typed_ast
_statistics         gensim              pprint              types
_string             getopt              profile             typing
_strptime           getpass             prometheus_client   typing_extensions
_struct             gettext             prompt_toolkit      ujson
_symtable           glob                protego             unicodedata
_system_path        glob2               pstats              unidecode
_testbuffer         google_crc32c       psutil              unittest
_testcapi           graphlib            pty                 urllib
_testconsole        greenlet            ptyprocess          urllib3
_testimportmultiple grpc                pure_eval           uu
_testinternalcapi   gzip                pvectorc            uuid
_testmultiphase     h5py                py                  venv
_thread             hamcrest            py_compile          w3lib
_threading_local    hashlib             pyasn1              warnings
_tkinter            heapdict            pyasn1_modules      watchdog
_tracemalloc        heapq               pyclbr              wave
_uuid               hmac                pycodestyle         wcwidth
_warnings           holoviews           pycosat             weakref
_weakref            html                pycparser           webbrowser
_weakrefset         http                pyct                webencodings
_win32sysloader     hvplot              pycurl              websocket
_winapi             hyperlink           pydispatch          werkzeug
_winxptheme         idlelib             pydoc               wheel
_xxsubinterpreters  idna                pydoc_data          widgetsnbextension
_yaml               imagecodecs         pydocstyle          win2kras
_zoneinfo           imageio             pyexpat             win32api
abc                 imagesize           pyflakes            win32clipboard
adodbapi            imaplib             pygments            win32com
afxres              imghdr              pylab               win32con
aifc                imp                 pylint              win32console
aiohttp             importlib           pyls_spyder         win32cred
aiosignal           importlib_metadata  pylsp               win32crypt
alabaster           incremental         pylsp_black         win32cryptcon
anaconda_navigator  inflection          pylsp_jsonrpc       win32ctypes
anaconda_project    iniconfig           pyodbc              win32event
antigravity         inspect             pyparsing           win32evtlog
anyio               intake              pyreadline          win32evtlogutil
appdirs             intervaltree        pyrsistent          win32file
argon2              io                  pytest              win32gui
argparse            ipaddress           pythoncom           win32gui_struct
array               ipykernel           pytz                win32help
arrow               ipykernel_launcher  pyviz_comms         win32inet
ast                 ipython_genutils    pywin               win32inetcon
astroid             ipywidgets          pywin32_bootstrap   win32job
astropy             isapi               pywin32_testutil    win32lz
asttokens           isort               pywintypes          win32net
async_timeout       isympy              pywt                win32netcon
asynchat            itemadapter         pyximport           win32pdh
asyncio             itemloaders         qdarkstyle          win32pdhquery
asyncore            itertools           qstylizer           win32pdhutil
atexit              itsdangerous        qtawesome           win32pipe
atomicwrites        jdcal               qtconsole           win32print
attr                jedi                qtpy                win32process
attrs               jinja2              queue               win32profile
audioop             jinja2_time         queuelib            win32ras
automat             jmespath            quopri              win32rcparser
autopep8            joblib              random              win32security
babel               json                rasutil             win32service
backcall            json5               re                  win32serviceutil
backports           jsonschema          readline            win32timezone
base64              jupyter             regcheck            win32trace
bcrypt              jupyter_client      regex               win32traceutil
bdb                 jupyter_console     regutil             win32transaction
binaryornot         jupyter_core        repo_cli            win32ts
binascii            jupyter_server      reprlib             win32ui
binhex              jupyterlab          requests            win32uiole
binstar_client      jupyterlab_plotly   requests_file       win32verstamp
bisect              jupyterlab_pygments rlcompleter         win32wnet
bitarray            jupyterlab_server   rope                win_inet_pton
bkcharts            jupyterlab_widgets  rsa                 win_unicode_console
black               jwt                 rtree               wincertstore
blackd              keyring             ruamel_yaml         winerror
bleach              keyword             run                 winioctlcon
blib2to3            kiwisolver          runpy               winnt
bokeh               lazy_object_proxy   s3transfer          winperf
boto3               lib2to3             sched               winpty
botocore            libarchive          scipy               winreg
bottleneck          libfuturize         scrapy              winsound
brotli              libpasteurize       seaborn             winxpgui
bs4                 lief                secrets             winxptheme
builtins            linecache           select              wrapt
bz2                 llvmlite            selectors           wsgiref
cProfile            locale              send2trash          xarray
cachetools          locket              service_identity    xdrlib
calendar            logging             servicemanager      xlrd
certifi             lxml                setuptools          xlsxwriter
cffi                lzma                shelve              xlwings
cgi                 mailbox             shlex               xml
cgitb               mailcap             shutil              xmlrpc
chardet             markdown            signal              xxsubtype
charset_normalizer  markupsafe          sip                 yaml
chunk               marshal             sipconfig           yapf
click               math                sipdistutils        yapftests
cloudpickle         matplotlib          site                yarl
clyent              matplotlib_inline   six                 zict
cmath               mccabe              skimage             zipapp
cmd                 menuinst            sklearn             zipfile
code                mimetypes           sklearnex           zipimport
codecs              mistune             slugify             zipp
codeop              mkl                 smart_open          zlib
collections         mkl_fft             smtpd               zmq
colorama            mkl_random          smtplib             zoneinfo
colorcet            mmap                snappy              zope

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

In [175]:
import statsmodels as sm
import matplotlib.pyplot as plt
import seaborn as sns

   El siguiente ciclo es el *for*, que se utiliza para iterar sobre listas, tuplas, conjuntos o diccionarios. Veámos estos tipos de datos:

In [5]:
list(range(1,9)) #lista en un rango

[1, 2, 3, 4, 5, 6, 7, 8]

In [30]:
list([1,2,3]) #lista para números específicos

[1, 2, 3]

In [32]:
listaa=["Ana","Juan", "Gloria"]

In [33]:
listaa

['Ana', 'Juan', 'Gloria']

In [19]:
lista=list(["Ana","Juan", "Gloria"]) #diferentes caracteres

In [22]:
print(lista[0], lista[1]) #imprimir el elemento que deseamos

Ana Juan

In [23]:
lista

['Ana', 'Juan', 'Gloria']

Tuplas

In [34]:
tuple([1,4,5]) #aquí una tupla.

(1, 4, 5)

In [36]:
tupla=(1,4,5)

In [40]:
print(tupla[1])

4

In [27]:
tuple(["Ana",1,2]) #notar que lista "[]" y tupla "()"

('Ana', 1, 2)

Ahora conjuntos

In [45]:
conjunto = set([1,1,2,3,4,5,5,5,0,0])

In [52]:
conjunto #notar que no se repiten los números y los ordena logicamente, no como se escriben

{0, 1, 2, 3, 4, 5}

In [54]:
print(conjunto[2]) #y no se puede imprimir en orden deseado

TypeError: 'set' object is not subscriptable

diccionarios

In [69]:
diccionario= dict({'Ana':1, 'Juan': 2, 'Gloria':3}) #el diccionario funciona como un mapeo de funciones

In [68]:
diccionario

{'Ana': 1, 'Juan': 2, 'Gloria': 3}

In [73]:
for t in range(0,5):
    print (t)

0
1
2
3
4

In [77]:
for u in range(5): #notar que es lo mismo porque el rango inicia en 0 por defecto
    print(u)

0
1
2
3
4

In [80]:
for x in lista: #recordar "lista"
    print(x)

Ana
Juan
Gloria

In [83]:
lista

['Ana', 'Juan', 'Gloria']

In [86]:
for x in "Ana": #arroja secuencia de caracteres
    print(x)

A
n
a

In [95]:
for x in lista: 
    print(x)
    if x == "Juan":
        break  #recorrer el elemento hasta que se encuentre con el elemento de la condicion if

Ana
Juan

In [108]:
for x in lista:
    print(x)
    if x=="Anaaa": #si el valor no existe el if no existe
        break

Ana
Juan
Gloria

In [112]:
for x in lista:
    if x=="Juan":
        break
    print(x) #parar un valor antes

Ana

In [116]:
for x in lista:
    if x=="Juan":
        continue #parte del if y da vuelta al ciclo sin regresar al valor
    print(x)

Ana
Gloria

In [118]:
for w in range(1,10,3): #rango y número del salto
    print(w)

1
4
7

In [120]:
for t in range(1,20,2):
    print(t)
else: #además imprimir "finalizamos"
    print("Finalizamos")

1
3
5
7
9
11
13
15
17
19
Finalizamos

In [138]:
for k in range(1,20,2):
    print(k)   
    if k == 9:
        break

1
3
5
7
9

In [142]:
for k in range(1,20,2):
    if k==9: #parar en 9 antes, o sea, 7
        break
    print(k)

1
3
5
7

In [107]:

for x in range(10):
    print(x)
    if x==7:
        break

0
1
2
3
4
5
6
7

In [144]:
for e in range(7):
    if e==3:
        break
    print(e)
else: #no hay else con break
    print("Ya")

0
1
2

Nested loop

In [148]:
Carro= ["Honda", "VW","Seat"]
Color=["amarillo", "azul", "verde"]
print(Carro, Color)

['Honda', 'VW', 'Seat'] ['amarillo', 'azul', 'verde']

In [154]:
for x in Carro:
    for y in Color:
        print(x,y) #que es como un producto cartesiano

Honda amarillo
Honda azul
Honda verde
VW amarillo
VW azul
VW verde
Seat amarillo
Seat azul
Seat verde

In [100]:
(2==2,2==5), [2==2,2==5] #tupla y lista

((True, False), [True, False])